/*
	IMPORT EXTERNALS, MIXINS, ELEMENTS, PRESETS, VARIABLES
*/
@import "bootstrap";
@import (less) "../bower_components/angular-ui/build/angular-ui.css"; //this actually "com-ports" the file, instead of leaving the directive intact
@import "select2";
@import "variables";
@import "mixins";
@import "fonts";
@import "text";

/*
	CONTAINERS AND RANDOM
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none;
}

body{
	font-family: arial, sans-serif;
	font-size: 14px;
	background: @colour_bright_clouds;
	overflow-y: scroll;
}

a{
	cursor: pointer;
	&:focus{
		outline: none;
	};
}

.container{
	padding: 0 @container_padding;
}

.no_scroll{
	overflow: hidden; //when viewing overlay, remove the body's scroll bar
}

.alert{
	border-radius: 0; //flat ui style, no need for round borders
}

.page-header{
	border: none; //this is for the error message in ideas
}

.form-actions{
	background: none;
}

/*
	CUSTOM ICONS
 */
.login_icon{
	display: inline-block;
	width: 23px;
	height: 18px;
	background: url('../img/login.png') no-repeat center center;
}

.logout_icon{
	display: inline-block;
	width: 23px;
	height: 18px;
	background: url('../img/logout.png') no-repeat center center;
}

/*
	HEADINGS
 */
h3{
	font-family: 'source_sans_prosemibold', arial, sans-serif;
	font-size: 20px;
	font-weight: normal;
}

/*
	HEADER
*/
header.navbar{
	background-color: @colour_clouds;
	margin: 0;
	.box-shadow(0 0 2px 2px rgba(63, 116, 86, 0.4));
	border-bottom: 1px solid #C6D1C9;
	z-index: 100;
	position: relative;
	div.navbar-inner{
		background: transparent;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		border: none;
		.box-shadow(none);
	}
	.logo{
		float: left;
		display: block;
		margin: 16px 0 11px;
	}
	.nav{
		font-family: 'source_sans_probold', arial, sans-serif;
		font-size: 24px;
		float: right;
		margin: 90px 0 0;
		li{
			margin: 0 20px;
			a{
				color: @colour_concrete;
				text-shadow: none;
				padding: 10px 0;
			}
		}
	}
}

.main{
	&:before, &:after{
		content: "";
		display: table;
		line-height: 0;
	}
	&:after{
		clear: both;
	}
	.wall_container{
		float: left;
		.wall{
			min-height: 100%;
			float: right;
			.item_panel{
				background: @colour_bright_clouds;
				width: (@panel_width - 1); //minus 1 for the border
				border-left: 1px solid @colour_green_highlight;
				border-bottom: 1px solid @colour_green_highlight;
				.item_header{
					padding: 5px 10px;
					margin: 0;
					a{
						color: @colour_midnight_blue;
						&:hover{
							color: @colour_wet_asphalt;
						};
					}
				}
				.item_image_container{
					position: relative;
					width: @panel_width - 1;
					.share_button{
						position: absolute;
						top: 10px;
						left: 10px;
						background: @colour_green_sea;
						color: #fff;
						padding: 6px 2px;
						font-size: 14px;
						border-radius: 4px;
						text-decoration: none;
						.drop-shadow(0, 0);
					}
					.item_rollover{
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						.transition-duration(1s);
						.opacity(0);
						.transparent-background(255, 255, 255, 0);
						&:hover{
							.transition-duration(1s);
							.opacity(1);
							.transparent-background(255, 255, 255, 0.2);
							cursor: pointer;
						}
					}
					img{
						margin: 0 auto;
						display: block;
					}
				}
				.item_desc{
					padding: 18px 10px 10px;
					font-family: 'source_sans_proregular', arial, sans-serif;
					font-size: 15px;
					color: @colour_wet_asphalt;
				}
				.item_meta{
					background: @colour_grey_clouds;
					padding: 14px 0;
					overflow: auto;
					.item_author{
						display: block;
						text-align: center;
						margin-bottom: 12px;
						a{
							color: @colour_midnight_blue;
							font-family: 'source_sans_proitalic', arial, sans-serif;
							font-size: 14px;
							border-bottom: 1px solid #b1b6ba;
							&:hover{
								color: @colour_wet_asphalt;
								text-decoration: none;
								border: none;
							};
						}
					}
					.item_actions{
						width: 30%;
						overflow: auto;
						float: left;
						.item_feedback, .item_likes{
							cursor: pointer;
							.item_icon{
								color: @colour_concrete;
								font-size: 32px;
								padding: 8px;
								width: 100%;
								text-align: center;
								.box-sizing();
								.item_number{
									display: block;
									text-align: center;
									margin-top: -26px;
									font-size: 11px;
									font-family: 'source_sans_prosemibold', arial, sans-serif;
									color: @colour_clouds;
								}
							}
							&:hover{
								.item_number{
									color: @colour_concrete;
								}
								.item_icon{
									color: @colour_bright_clouds;
								}
							};
						}
						.item_feedback .item_number{
							padding-top: 3px;
						}
						.item_likes .item_number{
							padding-top: 6px;
						}
					}
					.item_tags{
						width: 70%;
						overflow: auto;
						float: right;
						.box-sizing();
						padding: 10px;
						ul{
							list-style: none;
							margin: 0;
							text-align: center;
							font-family: 'source_sans_proregular', arial, sans-serif;
							font-size: 13px;
							letter-spacing: 0.2px;
							li{
								display: inline-block;
								margin: 0 2px;
								a{
									color: @colour_asbestos;
									&:before{
										content: '\0023';
									};
									&:hover{
										color: #333;
									};
								}
							}
						}
					}
				}
			}
		}
	}
	.control_panel{
		float: left;
		font-family: 'source_sans_prosemibold', arial, sans-serif;
		color: @colour_green_sea;
		background: @colour_wet_asphalt;
		border-left: 1px solid @colour_blue_highlight;
		.box-sizing();
		.affixed_controls.affix{
			top: 0;
			width: inherit; //fixed elements should inherit its parent's width
		}
		.affixed_controls{
			width: 100%;
			.search_form{
				padding: 20px;
				margin: 0;
				label{
					font-size: 20px;
					margin-bottom: 0;
				}
				#search{
					background: none;
					border: none;
					box-shadow: none;
					transition: none;
					border-radius: 0;
					color: @colour_green_sea;
					font-size: 20px;
					width: 140px;
					height: 26px;
					margin-bottom: 10px;
					.input-placeholder-colours(@colour_green_sea);
				}
			}
			.control_menu{
				font-size: 22px;
				background: @colour_belize_hole;
				ul{
					margin: 0;
					list-style: none;
					li{
						padding: 12px 20px;
					}
					li.viewing_my_ideas, li.viewing_popular_ideas{
						background: @colour_green_sea;
					}
					a{
						color: @colour_midnight_blue;
						text-decoration: none;
						span{
							margin-right: 10px;
							vertical-align: bottom;
						}
						.login_icon, .logout_icon{
							margin-left: -1px;
						}
					}
				}
			}
			.popular_tags{
				font-size: 18px;
				padding: 20px;
				.popular_tags_title{
					margin-left: 5px;
					font-size: 17px;
				}
				ul{
					list-style: none;
					margin: 0;
					li{
						display: inline-block;
						margin: 4px;
						a{
							color: @colour_green_sea;
							&:before{
								content: '\0023';
							};
						}
					}
				}
			}
		}
		.slider_menu{
			display: none;
			font-size: 22px;
			ul{
				list-style: none;
				margin: 0;
				.login_icon{
					background: url('../img/login_light_blue.png') no-repeat center center;
				}
				.logout_icon{
					background: url('../img/logout_light_blue.png') no-repeat center center;
				}
				li{
					text-align: center;
					margin: 20px auto;
					a{
						color: @colour_belize_hole;
						padding: 5px;
						.login_icon, .logout_icon{
							margin-left: -1px;
						}
					}
				}
				li.viewing_my_ideas a, li.viewing_popular_ideas a{
					color: @colour_green_sea;
				}
			}
		}
	}
}

/*
	IDEA
*/
.idea_container{
	margin: 0 auto;
	border-left: 1px solid @colour_green_highlight;
	border-right: 1px solid @colour_green_highlight;
	padding: 0;
	.idea_header{
		overflow: auto;
		border-bottom: 1px solid @colour_green_highlight;
		.idea_heading{
			float: left;
			font-size: 36px;
			font-family: 'source_sans_prosemibold', arial, sans-serif;
			font-weight: normal;
			padding: 30px 60px;
			margin: 0;
			a{
				color: @colour_wet_asphalt;
			}
		}
		.idea_close{
			margin: 30px;
		}
	}
	.idea_content{
		clear: both;
		overflow: auto;
		.idea_inner_content{
			float: left;
			width: 70%;
			.idea_main_image{
				margin: 0 auto;
				display: block;
			}
			.idea_description{
				font-family: arial, sans-serif;
				font-size: 15px;
				padding: 30px;
				color: @colour_dark_asphalt;
				text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
			}
		}
		.idea_meta{
			float: right;
			font-family: 'source_sans_proregular', arial, sans-serif;
			width: 30%;
			border-left: 1px solid @colour_green_highlight;
			.box-sizing();
			.overlay-meta-gradient();
			hr{
				width: 60%;
				border-top-color: @colour_green_highlight;
				border-bottom: none;
				margin: 0 auto;
			}
			ul{
				list-style: none;
				margin: 0;
			}
			.idea_aside_text{
				padding: 22px;
			}
			.idea_author{
				color: @colour_midnight_blue;
				.idea_author_image{
					display: block;
					margin: 0 auto;
					margin-top: 20px;
					margin-bottom: 20px;
					border: 1px solid @colour_green_highlight;
					.rounded(10px);
				}
				.idea_author_name{
					font-size: 20px;
					font-family: 'source_sans_prosemibold', arial, sans-serif;
					margin-bottom: 8px;
					display: block;
					a{
						color: @colour_midnight_blue;
					}
				}
			}
			.idea_idea_data{
				color: @colour_asbestos;
				.idea_tags_list{
					display: inline;
					li{
						display: inline;
					}
				}
			}
			.idea_actions{
				font-weight: bold;
				span{
					padding: 6px 8px;
					font-size: 16px;
				}
			}
		}
	}
	.idea_comments{
		padding: 0 24px 24px;
		margin: 0 auto;
		width: 90%;
		> h2{
			font-size: 24px;
			font-family: 'source_sans_prosemibold', arial, sans-serif;
			font-weight: normal;
			color: @colour_wet_asphalt;
		}
	}
}

/*
	ADD IDEA
*/
.add_idea_container{
	margin: 0 auto;
	border-left: 1px solid @colour_green_highlight;
	border-right: 1px solid @colour_green_highlight;
	.add_idea_header{
		overflow: auto;
		.add_idea_heading{
			float: left;
			font-size: 32px;
			font-family: 'source_sans_prosemibold', arial, sans-serif;
			font-weight: normal;
			padding: 20px 40px;
			margin: 0;
		}
		.add_idea_close{
			margin: 10px;
		}
	}
	.add_idea_form{
		margin: 20px auto;
		padding-right: 60px;
		width: 90%;
		.box-sizing();
		.control-label{
			width: 120px;
		}
		.controls{
			margin-left: 134px;
		}
		.add_idea_image_button{
			margin-top: 10px;
		}
	}
}

/*
	OVERLAY BACKDROP
*/
.overlay_backdrop{
	.transparent-background(59, 77, 79, 0.7);
	border: none;
	border-radius: 0;
	box-shadow: none;
	width: 100%;
	margin: 0;
	top: 0 !important; //need to overwrite this
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: scroll;
}

/*
	OVERLAY CONTAINERS
*/
.overlay_backdrop{
	.overlay_container{
		width: 780px;
		background: @colour_bright_clouds;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		.overlay_close{
			float: right;
			background: @colour_grey_clouds;
			border: 1px solid @colour_greyer_clouds;
			.rounded(8px);
			color: @colour_wet_asphalt;
			font-size: 34px;
			width: 54px;
			height: 54px;
			line-height: 50px;
			&:hover{
				background: @colour_clouds;
				color: @colour_midnight_blue;
			};
		}
	}
	.idea_container{
		.idea_header{
			.idea_heading{
				padding: 60px;
			}
		}
	}
	.add_idea_container{
		padding: 20px;
	}
}

/*
	RESPONSIVE
*/
@import "bootstrap-responsive";
@import "responsive";

/*
	BROWSER SPECIFIC
 */
@import "ie9";