//Containers
@container_padding: 1.2%;

//Panels
@panel_width: 240px;

//Control Panel's width when it's reduced to simply icons
@control_panel_icon_width: 40px;

//Wall width is at X or below, where X is specified in the first digits and the browser width.
@1440_wall_cols: 5;
@1280_wall_cols: 4;
@1024_wall_cols: 4;
@800_wall_cols: 3;
@640_wall_cols: 2;
//at 500 or below, our wall width changes, because only the icons are left in the control panel
@smallest_wall_width: @panel_width + @control_panel_icon_width;

//Font Colours
@colour_generic_white_bg: #fafaf7;
@colour_bright_clouds: #f7f2f2;
@colour_clouds: #ecf0f1;
@colour_grey_clouds: #efebe7;
@colour_concrete: #95a5a6;
@colour_asbestos: #7f8c8d;
@colour_wet_asphalt: #34495e;
@colour_midnight_blue: #2c3e50;
@colour_blue_highlight: #53677a;
@colour_belize_hole: #2980b9;
@colour_green_sea: #16a085;
@colour_green_highlight: #b8e0d8;