<?php

//encryption

$secrets['encryption_key'] = '################################';

//api keys

$secrets['facebook_code'] = 'example facebook token!';

//passwords

$secrets['some_password'] = 'some example password!';